<!DOCTYPE html>
<html>

  <head>
    <title>Welcome Page</title>
  </head>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TAMU OCR</a>
    </div>
  </nav>

  <body>
    <div class="welcome-page">
      <h1>Texas A&M Obstacle Course Racing</h1>
      <br>
      <br>
      <h2>Training athletes to overcome not only physical obstacles but life's obstacles,
       while building leadership and teamwork.</h2>
      <br>
    </div>

    <div class="sign-in-btn">
      <div class="btn btn-link">
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
      </div>
      <div class="flash-notice">
        <% if flash.any? %>
          <% flash.each do |key, value| -%>
            <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
          <% end -%>
        <% end %>
      </div>
    </div>

  </body>

</html>