<!DOCTYPE html>
<html>

  <head>
    <%= stylesheet_link_tag  'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid text-center">

      <div class="row">
        <div class="col-2 col-lg-3">
          <br>
        </div>

        <div class="content col-8 col-lg-6">
          <h1>Texas A&M Obstacle Course Racing</h1>
          <br>
          <br>
          <h2>Training athletes to overcome not only physical obstacles but life's obstacles,
          while building leadership and teamwork.</h2>
          <br>
        </div>

        <div class="col-2 col-lg-3">
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-1 col-lg-3">
          <br>
        </div>

        <div class="col-10 col-lg-6 sign-in-btn">
          <%= link_to image_tag("google_logo.png", :size => "50x50", class: "btn-logo") + " Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn" %>
            <div class="flash-notice">
              <% if flash.any? %>
                <% flash.each do |key, value| -%>
                  <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
                <% end -%>
              <% end %>
            </div>  
        </div>

        <div class="col-1 col-lg-3">
          <br>
        </div>
      </div>

    </div>
  </body>
</html>