<!DOCTYPE html>
<html>
  <head>
    <title>Welcome page</title>
    <meta name="google-signin-client_id" content="391313792335-b7uh4f9mt4j0v2tube7vsh0s8tcpplfp.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
<body>
  <div class="welcometitle">
    <h1>Welcome to TAMU OCR Tracker!</h1>
  </div>
  <div class="logoutheader">
    <h2>You're Logged out! Log in to the Admin Dashboard</h2>
  </div>
  <div class="g-signin2" data-onsuccess="onSignIn">
    <%= link_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path %>
  </div>
  <a href="#" onclick="signOut();">Sign out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>
</body>
</html>
