<!DOCTYPE html>
<html>
  <head>
    <title>Welcome page</title>
  </head>
<body>
  <h1>Welcome to TAMU OCR Tracker!</h1>
  <h2>You're Logged out! Log in to the Admin Dashboard</h2>
  <%= link_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path %>
</body>
</html>
