<h1> Leaderboard Page </h1>

<% @leaderboard_spots.each do |ls| %>

    <h4>User: <%=ls.user.full_name%></h4>
    <p>Workout Submission: <%=ls.workout_submission_id%></p>
    <p>Spot Number: <%=ls.spot_no%></p>
    
<% end %>