<h1>You're logged in! Welcome to the User Dashboard!</h1>
<head>
  <p>
    <strong>W.I.P.</strong>
  </p>
</head>

<body>
  <% if current_user.is_admin? %>
    Howdy <%= current_user.full_name %> as admin
    <p><%= link_to "permissions", "/permissions" %></p>
  <% else %>
    Howdy <%= current_user.full_name %> as user
  <% end %>
  <div>
    <%= link_to "Sign Out", destroy_user_session_path %>
  </div>
</body>
