<!DOCTYPE html>
<html>

    <head>
    <%= stylesheet_link_tag  'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body id="submissions-page">
        <br>
        <h1>New Workout Post</h1>
        <br>
        <div class="container">
            <br>
            <%= render 'form', exercises: @exercises%>
                
        </div>

        <div class="back-btn">
            <%= link_to 'Back', '/'  %>
        </div>
    </body>
    
</html>
