/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Lato:300, 400,700,900&display=swap');

h1 {
    color: white;
    font-weight: normal;
}

h2 {
    color: white;
    font-weight: 300;
}

p{
    color: white;
    font-weight: 300;
}

p#tab{
    color: black;
    font-weight: 300;
}

.navbar-brand{
    font-size: calc(100% + 0.8vw + 0.8vh) !important;
}

.nav-link{
    color: white;
    font-size: calc(100% + 0.4vw + 0.4vh);
}

body {
    font-family: "Lato", sans-serif !important;
    background-image: image-url('welcome_page.jpg');
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.flash-notice{
    font-size: calc(100% + 0.3vw + 0.3vh);
}


// scrollbar styling
::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 15px;
    height: 1px;  
}

// tables
th {
    color: white;
    width: 10%;
}

.field{
    font-size: calc(100% + 0.2vw + 0.2vh);
    width: 60%;
}

td {
    color: white;
    width: 10%;
}

.universal-button{
    border-radius: 5px;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: calc(100% + 0.2vw + 0.2vh);
}


// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { 
//     h1{
//         font-size: 1.5rem;
//     }

//     h2{
//         font-size: 1.3rem;
//     }

//     p{
//         font-size: 1rem;
//     } 
// }

// // Small devices (landscape phones, less than 768px)
// @media (min-width: 576px) and (max-width: 767.98px) { 
//     h1{
//         font-size: 2rem;
//     }

//     h2{
//         font-size: 1.8rem;
//     }

//     p{
//         font-size: 1.5rem;
//     }
// }

// // Medium devices (tablets, less than 992px)
// @media (min-width: 768px) and (max-width: 991.98px) { 
//     h1{
//         font-size: 2.5rem;
//     }

//     h2{
//         font-size: 2.3rem;
//     }

//     p{
//         font-size: 2rem;
//     }
// }

// // Large devices (desktops, less than 1200px)
// @media (min-width: 992px) and (max-width: 1199.98px) { 
//     h1{
//         font-size: 3rem;
//     }

//     h2{
//         font-size: 2.8rem;
//     }

//     p{
//         font-size: 2.5rem;
//     }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 
//     h1{
//         font-size: 3.5rem;
//     }

//     h2{
//         font-size: 3.3rem;
//     }

//     p{
//         font-size: 3rem;
//     }
// }