// @media screen and (min-width: 1001px) {
//    
//     p {
//         font-size: calc(5% + 1vw + 1vh);
//         color: white;
//         font-weight: normal;
//     }
// }
// @media screen and (max-width: 1000px) {
//     h1 {
//         font-size: calc(10% + 2.7vw + 2.7vh);
//         color: white;
//         font-weight: normal;
//     }
//     p {
//         font-size: calc(5% + 1vw + 1vh);
//         color: white;
//         font-weight: normal;
//     }
// }


.trendline-chart {
    border-radius: 5px;
    background-color: rgb(25, 25, 30);
}


.content{
    display: flex;
    align-items: center;
}

.row{
    padding: 3%;
}





