.content {
    background: rgba(33, 37, 41, 0.98) ;
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    padding: 10px;
    height: 60vh;
}

h1{
    font-size: calc(100% + 1.3vw + 1.3vh);
    position: relative;
    text-align: center;
    color: white;
    padding: 25px;
}

h2{
    text-align: center;
}

p{
    color: white;
    font-weight: 300;
}

body#leaderboard{
    background-image: image-url('leaderboard.jpg');
}

.nav-link#nav-tab{
    color: white;
    font-size: calc(100% + 0.6vw + 0.6vh);
}

.nav-link:hover{
    color: white;   
}

th{
    font-size: calc(100% + 0.1vw + 0.1vh);
    text-align: center;
}

td{
    font-size: calc(100% + 0.1vw + 0.1vh);
    text-align: center;
}

.profile-picture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%
}
