.container {
    background: rgba(33, 37, 41, 0.98) ;
    padding: 25px;
    color: white;
    border-radius: 10px;
    position: relative;
    width: 45%;
    height: 65%;
    overflow: auto;
}

h1{
    position: relative;
    text-align: center;
    color: white;
}

h2{
    text-align: center;
}

p#label{
    font-size: calc(100% + 0.3vw + 0.3vh);
    color: white;
    font-weight: 300;
}

body#members-page {
    background-image: image-url('profile.jpg');
    background-color: rgba(0, 0, 0, 0.8);
}

th{
    font-size: calc(100% + 0.3vw + 0.3vh);
}

td{
    font-size: calc(100% + 0.1vw + 0.1vh);
}

.profile-picture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
}
