.container {
    background: rgba(33, 37, 41, 0.98) ;
    padding: 25px;
    color: white;
    border-radius: 10px;
    position: relative;
    width: 65%;
    height: 65%;
    overflow: auto;
}

h1{
    position: relative;
    text-align: center;
    color: white;
}

h2{
    text-align: center;
}

p#label{
    font-size: calc(100% + 0.3vw + 0.3vh);
    color: white;
    font-weight: 300;
}

body#permissions-page{
    background-image: image-url('permissions.jpg');
    background-color: rgba(0, 0, 0, 0.8);
}

.back-btn{
    position: relative;
    transform: translate(-50%, -50%);
}

.form1{
    border-radius: 10px;
    background-color: white;
    border: none;
    font-weight: bold;
}
