.content {
    background: rgba(33, 37, 41, 0.98);
    padding: 20px;
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    height: 60vh;
}

h1{
    font-size: calc(100% + 1.2vw + 1.2vh);
    position: relative;
    text-align: center;
    color: black;
    padding: 25px;
}

h2{
    font-size: calc(100% + 1vw + 1vh);
    text-align: center;
}

h3{
    font-size: calc(100% + 0.7vw + 0.7vh);
    text-align: left;
}

p#label{
    font-size: calc(100% + 0.3vw + 0.3vh);
    color: white;
    font-weight: 300;
}

body#submissions-history{
    background-image: image-url('submissions_history.png');
}