.content {
    background: rgba(33, 37, 41, 0.98);
    padding: 20px;
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    height: 60vh;
}

h1{
    font-size: calc(100% + 1.3vw + 1.3vh);
    position: relative;
    text-align: center;
    color: black;
    padding: 25px;
}

h2{
    font-size: calc(100% + 1vw + 1vh);
    text-align: center;
}

p#label{
    font-size: calc(100% + 0.3vw + 0.3vh);
    color: white;
    font-weight: 300;
}

body#submissions-page{
    background-image: image-url('submissions_page.png');
}

.back-btn{
    padding-top: 100px; 
}

.actions{
    padding-top: 100px; 
}





