<!DOCTYPE html>
<html>

<head>
<%= stylesheet_link_tag  'exercises, media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body id="exercises">

<h1>Editing Exercise</h1>

<%= render 'form', exercise: @exercise %>

<%= link_to 'Show', @exercise %> |
<%= link_to 'Back', exercises_path %>
