<!DOCTYPE html>
<html>

    <head>
        <%= stylesheet_link_tag  'exercises', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body id="exercises">
        
        <h1>Edit Exercise</h1>
        
        <div class="container-fluid">
            <div class = "row">
                <div class="col-1 col-lg-2">
                    <br>
                </div>

                <div class="content col-10 col-lg-8">
                    <%= render 'form', exercise: @exercise %>
                    <br>
                    <%= button_to "Show", @exercise, :method => "get",:class => "universal-button", :style => "margin-left: 0%; display: inline; float: left; display: flex; flex-wrap: wrap; margin-right: 2%" %>
                    <%= button_to "Back", exercises_path, :method => "get",:class => "universal-button", :style => "margin-left: 0%; display: inline; float: left; display: flex; flex-wrap: wrap;" %>
                </div>

                <div class="col-1 col-lg-2">
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>

