<!DOCTYPE html>
<html>

    <head>
        <%= stylesheet_link_tag  'exercises', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body id="exercises">
        <br>
        <h1>New Exercise</h1>
        <br>
        <div class="container">
            <%= render 'form', exercise: @exercise %>
            <br>
            <%= link_to 'Back', exercises_path %>
        </div>
    
    </body>    
    
</html>
